<h1>User page</h1>
<a href="/logout">logout</a>

<p class="text-right">
    <a class="btn btn-primary" href="/MyIdeas/index">Ideas</a>
    
</p>

<h1>Name: @ViewBag.ThisUser.first_name</h1>
<h2>Alias: @ViewBag.ThisUser.last_name</h2>
<h2>Email: @ViewBag.ThisUser.email</h2>

<hr>

<p>Total Number of Posts: @ViewBag.ThisUser.created.Count</p>
<p>Total Number of Likes: @ViewBag.ThisUser.liked.Count</p>