@{
    ViewData["Title"] = "Pokeinfo";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>
<h3>@ViewData["Type"]</h3>
<h3>@ViewData["Weight"]</h3>
<h3>@ViewData["Height"]</h3>

<p>Use this area to provide additional information.</p>
