@{
    ViewData["Title"] = "QueryPoke";
}
<h2>@ViewData["Title"]</h2>
<h2>@ViewBag.Pokeinfo["name"]</h2>
<h2>@ViewBag.Pokeinfo["types"][0]["type"]["name"]</h2>
<h2>@ViewBag.Pokeinfo["weight"]</h2>
height
<h2>@ViewBag.Pokeinfo["height"]</h2>